<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296261998626-fqr2g3b0mrugi0r7or8g8gjd1lfi8v0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296261998626-fqr2g3b0mrugi0r7or8g8gjd1lfi8v0a</string>
	<key>API_KEY</key>
	<string>AIzaSyAg-b18kR63pRcQAnIq8IUZcm8jpI3VgK0</string>
	<key>GCM_SENDER_ID</key>
	<string>296261998626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.shishirrijal</string>
	<key>PROJECT_ID</key>
	<string>clothing-store-1caad</string>
	<key>STORAGE_BUCKET</key>
	<string>clothing-store-1caad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296261998626:ios:a1700d953b6820f4cfd27b</string>
</dict>
</plist>